header {
  margin-top: 92px;
  margin-bottom: 96px;
  padding: 0 49px;
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
}

.menu_contact_address {
  font-style: normal;
  font-size: 18px;
}

.menu {
  font-size: 18px;
  padding-top: 4px;
  align-self: center;
}

.menu_list {
  display: flex;
  list-style-type: "⚬";
  gap: 5px;
  align-items: center;
}

.menu_list li {
  padding: 12px;
}

.menu_list li:first-child {
  list-style-type: none;
}

.header_logo_image {
  width: 148px;
  height: 105px;
}

.menu_contacts {
  width: 240px;
  line-height: 1.3;
  justify-self: end;
}

.header_menu_contact {
  padding-top: 10px;
}

.menu_contacts li {
  list-style-type: none;
}

.menu_link_underlined {
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* cover section */
.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 757px;
  width: 1100px;
  z-index: 0;
  margin-bottom: 92px;
  flex-shrink: 0;
}

.cover h1,
p,
button {
  color: rgb(255, 255, 255);
}
.cover p {
  font-size: 22px;
  font-weight: lighter;
  text-transform: uppercase;
}

.cover button {
  font-size: 22px;
  border: 1px solid white;
  text-transform: uppercase;
  padding: 12px 32px;
  background: transparent;
}

.bet_button {
  font-family: 'Raleway', sans-serif;
  margin-top: 123px;
  margin-left: 70px;
}

.cover_title {
  padding-top: 165px;
  letter-spacing: 30px;
  line-height: 1.22;
}

.aligned_text {
  letter-spacing: 20px;
  padding-left: 50px;
  font-size: 100px;
}

.aligned_text_center {
  margin-top: 20px;
  padding-left: 336px;
  font-size: 100px;
}


.aligned_text_last_letter {
  padding-left: 40px;
}

.aligned_text_center_letter {
  padding-left: 10px;
}

.aligned_text_center_last_letter {
  padding-left: 30px;
}

.aligned_text_first_letter {
  margin-right: 30px;
}

.aligned_text_right {
  margin-left: 633px;
  font-size: 100px;
}


.cover_description {
  display: flex;
  padding-left: 78px;
}

.cover_description_text {
  word-spacing: 20px;
  padding-top: 136px;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: -1;
}

/* лоты */

.lots {
  gap: 300px;
  margin-top: 179px;
}

.card-link {
  text-decoration: none;
}

.lots_card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 0 24px;
  list-style: none;

}

.lots_heading {
  margin-left: 64px;
  margin-bottom: 27px;
  font-size: 40px;
  text-transform: uppercase;
}

.card_type_overall {
  position: relative;
  overflow: hidden;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 334px;
  min-height: 563px;
  z-index: -2;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  height: 563px;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  height: 563px;
}

.lots_card-list-item {
  display: flex;
  flex-direction:column;
  height: 100%;
  color: white;
  justify-content: space-between;
  padding: 51px 40px;
}

.lot_title {
  text-decoration: underline;
  text-transform: uppercase;
  text-underline-offset: 4px;
  font-size: 22px;
  margin-bottom: auto;
}

.lot_description {
  font-size: 20px;
  margin-top: auto;
}

.lots_look-more-link p {
  font-size: 20px;
  color: black;
  text-decoration: underline;
  text-underline-offset: 4px;
  margin-left: 64px;
  margin-top: 30px;
}

/* about */

.about {
  margin-top: 181px;
}

.about_column {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.about_logo {
  width: 240px;
  height: 240px;
  justify-self: center;
}

.about_title {
  align-self: center;
  text-transform: uppercase;
  padding-left: 16px;
  padding-top: 10px;
  font-size: 40px;
}

.about_text {
  grid-column-start: 2;
  grid-column-end: 3;
  padding-left: 18px;
  width: 706px;
}

.about_text p {
  font-size: 20px;
  color: black;
  padding-top: 10px;
  margin-bottom: 16px;
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 88px;
  padding: 0 50px;
  margin-top: 160px;
}

footer li {
  list-style-type: none;
}

.footer_menu_list {
  text-align: center;
}

.footer_social_media_list {
  display: flex;
  gap: 48px;
}

.social_media_image {
  width: 48px;
  height: 48px;
}