/* надо еще раз все прочекать и сверить с рекомендациями */
.header {
  margin-top: 92px;
  padding: 0 49px;
}

.menu_contact_address {
  font-style: normal;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  font-size: 18px;
  margin-bottom: 96px;
}

.menu_list {
  display: flex;
  list-style-type: "⚬";
  gap: 5px;
  align-items: center;
}

.menu_list li {
  padding: 12px;
}

.menu_list li:first-child {
  list-style-type: none;
}

.header_logo_image {
  width: 148px;
  height: 105px;
}

.menu_contacts {
  padding-top: 10px;
  width: 240px;
  line-height: 1.3;
  justify-self: end;
}

.menu_contacts li {
  list-style-type: none;
}

.menu_link_underlined {
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* cover section */
.cover {
  position: relative;
  background-image: url(/images/cover.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 757px;
  width: 1100px;
  z-index: -2;
  margin-bottom: 92px;
  flex-shrink: 0;
}

.cover h1,
p,
button {
  color: rgb(255, 255, 255);
}
.cover p {
  font-size: 22px;
  font-weight: lighter;
  text-transform: uppercase;
}

.cover button {
  font-size: 22px;
  border: 1px solid white;
  text-transform: uppercase;
  padding: 12px 32px;
  background: transparent;
}

.bet_button {
  margin-top: 123px;
  margin-left: 70px;
}

.cover_title {
  padding-top: 165px;
  letter-spacing: 30px;
  line-height: 1.22;
}

.aligned_text {
  letter-spacing: 20px;
  padding-left: 50px;
  font-size: 100px;
}

.aligned_text_center {
  margin-top: 20px;
  padding-left: 336px;
  font-size: 100px;
}


.aligned_text_last_letter {
  padding-left: 40px;
}

.aligned_text_center_letter {
  padding-left: 10px;
}

.aligned_text_center_last_letter {
  padding-left: 30px;
}

.aligned_text_first_letter {
  margin-right: 30px;
}

.aligned_text_right {
  margin-left: 633px;
  font-size: 100px;
}


.cover_description {
  display: flex;
  padding-left: 78px;
}

.cover_description_text {
  word-spacing: 20px;
  padding-top: 136px;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: -1;
}

/* лоты */

.lots {
  gap: 300px;
  margin-top: 179px;
}

.card-link {
  text-decoration: none;
}

.lots_card-list {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  padding: 0 24px;
  list-style: none;
}

.lots_heading {
  margin-left: 64px;
  margin-bottom: 27px;
  font-size: 40px;
  text-transform: uppercase;
}

.card_type_film,
.card_type_picture,
.card_type_book {
  position: relative;
  overflow: hidden;
}

.card_type_film img,
.card_type_picture img,
.card_type_book img {
  position: relative;
  z-index: -2;
  object-fit: cover;
  width: 334px;
  height: 563px;
}

.lots_card_film-list-item {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 254px;
  flex-wrap: wrap;
}

.lot_description_film {
  padding-top: 238px;
}

.lots_card_book-list-item {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 254px;
  flex-wrap: wrap;
}

.lots_card_picture-list-item {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 254px;
  flex-wrap: wrap;
}

.lot_description_picture {
  padding-top: 90px;
}

.lot_name {
  text-decoration: underline;
  text-transform: uppercase;
  text-underline-offset: 4px;
  font-size: 22px;
}

.lot_description {
  font-size: 20px;
}

.lots_look-more-link p {
  font-size: 20px;
  color: black;
  text-decoration: underline;
  text-underline-offset: 4px;
  margin-left: 64px;
  margin-top: 26px;
}

/* about */

.about {
  margin-top: 181px;
}

.about_column {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
}

.about_logo {
  width: 240px;
  height: 240px;
  justify-self: center;
}

.about_title {
  align-self: center;
  text-transform: uppercase;
  padding-left: 16px;
  padding-top: 10px;
  font-size: 40px;
}

.about_text {
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: center;
  width: 693px;
}

.about_text p {
  font-size: 20px;
  color: black;
  padding-top: 24px;
}

/* footer */

.footer_section {
  margin-top: 165px;
  margin-bottom: 88px;
  padding: 0 50px;
}

.footer_menu {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.footer_menu li {
  list-style-type: none;
}

.footer_menu_list {
  text-align: center;
}

.footer_social_media_list {
  display: flex;
  gap: 48px;
}

.footer_menu_contact {
  width: 240px;
  line-height: 1.4;
}